html,
body,
.container {
  height: 100%; }

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px; }

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: red; }

.item2 {
  background-color: yellow; }

.item3 {
  background-color: blue; }

.item3 {
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: green; }

.item4 {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: orange; }

.item5 {
  background-color: purple; }

.item6 {
  background-color: brown; }
